.header {
    background: #c1c1c1;
    height: 100px;
    margin: 10px 20px 20px 20px;
    text-align: center;
    padding-top: 40px;
    border-radius: 8px;
    font-family: Gabriola, "Times New Roman", serif;
}

.product_catalog {

    background: #c7b6d3;
    padding: 10px;
    margin-top: 10px;
    height: 400px;
    border-radius: 8px;
}
.product_name_header {
    font-family: Gabriola, "Times New Roman", serif;

}

.product_photo {
    margin-left: 70px;
}
.background_for_body {
    background: rgb(238, 238, 238);
}
.product_page_photo {
    margin-left: 20px;
}
h1,h2,h3,h4 {
    font-family: Gabriola, "Times New Roman", serif;
    margin-left: 50px;
}
.product_page_style {
    margin-left: 20px;
}
.form_edit{
    background: #c7b6d3;
    padding: 10px;
    border-radius: 8px;
}

.loading {
    opacity: .3;
}

.color-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #aaa;
}

.random_product_list  ul,li  {
	display: inline;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	color: #339;
	font-weight: bold;
    float: left;
    border: 1px dashed gainsboro;
    border-radius: 10px;
	}
.product_url{
    display: inline;
	margin: 10px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
	color: #339;
	font-weight: bold;
    float: left;
    border: 1px dashed gainsboro;
    border-radius: 10px;
}
