{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>My catalog</title>

    <link rel="stylesheet" href="{% static 'mycatalog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mycatalog/css/main.css' %}">

</head>
<body>

<div class="row-fluid">
    <div class="header">
        <h1>Интернет-каталог удобной мебели</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        {% for product in products %}
            <div class="span4 product_catalog">
                <h1 class="product_name_header">{{ product.product_name }}</h1>
                <h4>Description</h4>{{ product.product_description }}

                <div class = "product_photo"><img src="{{ MEDIA_URL }}{{ product.product_preview }}" class="img-circle"></div>
                <span>Weight: <b>{{ product.product_weight }}</b></span>
                <span>Height: <b>{{ product.product_height }}</b></span>
                <span>Color: <b>{{ product.product_color }}</b></span>
            </div>

        {% endfor %}
        <div class="span6">
        {# TODO: Place for random template_tag #}
        </div>
    </div>
</div>
<div class="pagination pagination-centered">
    <ul>
        {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">Prev</a></li>
        {% endif %}

        {% if products.has_next or products.has_previous %}
            {% for num_page in products.paginator.page_range  %}
               <li{% if products.number == num_page %} class="active"{% endif %}><a href="?page={{ num_page }}">{{ num_page }}</a></li>
            {% endfor %}
        {% endif %}

        {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>






</body>
</html>


