{% extends 'mycatalog/catalog.html' %}
{% block content %}
    <div class = "product_page_style">
        <h2>{{ product.product_name }}</h2>
        <div class="row ">
            <div class="span9">
                <img src="{{ MEDIA_URL }}{{ product.product_preview }}" class="img-circle">
                <div class="row">
                    <div class="span6">Descriprion: {{ product.product_description }}</div>
                    <div class="span3">Height: {{ product.product_height }}
                        Weight: {{ product.product_weight }} Color: {{ product.product_color }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}