
{% extends 'mycatalog/catalog.html' %}
{% load thumbnail %}
{% block content %}
    <div class = "product_page_style">
        <h2>{{ product.product_name }}</h2>
        <div class="row ">
            <div class="span9">
                <img src="{% thumbnail product.product_preview 300x300 %}" class="img-circle">
                <div class="row">
                    <div class="span6">Descriprion: {{ product.product_description }}</div>
                    <div class="span3">Height: {{ product.product_height }}
                        Weight: {{ product.product_weight }}
                        Color 1: <span class="color-box" style="background-color: {{ product.product_color }}"></span>
                        Color 2: <span class="color-box" style="background-color: {{ product.product_color_once_more }}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}